html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
button {
	user-select: none;
}

.stretch {
	display: block;
	position: absolute;
	height: auto;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.pane {
	display: block;
	position: relative;
	height: 100%;
	overflow: hidden;
	border: 1px gray solid;
	border-radius: 5px;
}

celestial, .celestial {
	display: none;
	position: absolute;
}

.info,
.info2 {
	position: absolute;
	top: 10px;
	font-family: monospace;
	font-weight: bold;
	color: white;
}

.info {
	left: 10px;
}

.info > div {
	padding: 5px 0;
}

.info .stats {
	display: none;
}

.info2 {
	position: absolute;
	top: 10px;
	right: 10px;
}

.info button {
	display: inline-block;

	background-color: black;
	color: white;
	border: 2px white solid;
	border-radius: 5px;

	font-family: monospace;
	font-size: 1em;
	font-weight: bold;

	min-width: 23px;
	height: 23px;
}

.rotate_lock .axis {
	padding: 2px 5px;
}

.rotate_lock .axis.active {
	background-color: white;
	color: black;
}

.rotate_lock button {
	cursor: pointer;
}

.warp_controls button {
	background-repeat: no-repeat;
}

.warp_controls button.active {
	background-color: white;
}

.warp_controls svg.pause {
	width: 10px;
	height: 10px;
}

.warp_controls svg.play {
	width: 11px;
	height: 11px;
}

.check-webgl > div {
	width: 100%;
	position: absolute;
	height: auto;
	padding: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background-color: white;
	text-align: center;
	padding-top: 50px;
}
